<section class="flex gap-3 w-full flex-col">
  <h1 class="text-3xl font-bold text-pink-200"> 
    {{ 'CONTACT.TITLE' | translate }}
  </h1>
  
  <div class="flex gap-3 sm:gap-4 w-full justify-center">
    <button class="flex gap-2 px-6 py-2 rounded-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-semibold shadow-md hover:opacity-60 transition" 
      (click)="downloadCV()">
      <img class="h-6" src="assets/download.svg" alt="dornload icon">

      {{ 'CONTACT.DOWNLOAD_CV' | translate }}
    </button>

    <button class="flex gap-2 items-center px-6 py-2 rounded-full bg-blue-600 text-white font-semibold shadow-md hover:bg-blue-800 transition" 
      (click)="openLinkedin()">
        <img class="h-5 hidden sm:block" src="assets/link.svg" alt="linkedin icon">
        <img class="h-6 sm:hidden block" src="assets/linkedin.svg" alt="linkedin icon">
      <span class="sm:block hidden">LinkedIn</span>
    </button>

    <button class="flex gap-2 px-6 py-2 rounded-full bg-white text-black font-semibold shadow-md hover:bg-gray-400 transition" 
      (click)="openGitHub()">
      <img class="h-6" src="assets/github.svg" alt="github icon">
    <span class="hidden sm:block"> GitHub </span>
    </button>
  </div>
</section>