<div class="flex flex-col gap-10">
    <div class="absolute right-0 pr-10 pt-10 flex gap-3 items-center text-gray-400">
      Change Language:

      <img class="w-9 cursor-pointer" src="assets/usa.svg" alt="usa flag" (click)="selectLanguage('en')" 
        [class.opacity-50]="translateService.currentLang != 'en'">

      <img class="w-10 cursor-pointer" src="assets/brazil.svg" alt="usa flag" (click)="selectLanguage('pt-br')"
        [class.opacity-50]="translateService.currentLang != 'pt-br'">
    </div>

  <section class="flex items-center justify-center text-center h-screen gap-10">
      <div class="space-y-8">
          <div class="flex flex-col gap-4">
            <h3 class="text-gray-400">{{ 'ROLE' | translate }}</h3>

            <h1 class="text-5xl font-bold text-pink-200">{{ 'WELCOME' | translate }} <br> Sara Kemily </h1>

            <p class="text-gray-400 max-w-lg mx-auto">
               {{ 'DESCRIPTION' | translate }}
            </p>
          </div>

          <div class="flex flex-col gap-4">
            <h1 class="text-3xl font-bold text-pink-200"> Stack </h1>

            <div class="flex items-center justify-center gap-5 flex-wrap">
              @for (stack of stackList; track $index) {
                <ng-container *ngTemplateOutlet="stackTemplate; context:{title: stack.name, img: stack.icon}"></ng-container>
              }
            </div>
          </div>

          <div class="flex flex-col">
            <app-contact />
          </div>
      </div>

      <div class="relative w-80 h-80">
          <div class="absolute inset-0 border-8 border-pink-200 border-dashed rounded-full animate-spin-slow"></div>

          <div class="absolute inset-8 rounded-full overflow-hidden w-64 h-64 bg-black">
              <img src="assets/saraKemily.jpg" alt="Profile Image" class="w-full h-full object-cover rounded-full">
          </div>
      </div>
  </section>

  <app-projects />

  <div class="absolute right-0 bottom-5 animate-bounce">
    <img src="assets/arrow.svg" alt="arrow" class="w-28 h-28">
  </div>
</div>

<ng-template let-title="title" let-img="img" #stackTemplate>
  <div class="relative group">
    <img [alt]="title" height="30" width="40" [src]="img" >
   
    <span class="absolute left-1/2 transform -translate-x-1/2 -translate-y-6 bg-pink-200 text-black font-bold text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition">
      {{ title }}
    </span>
  </div>
</ng-template>